h1{
font-family: Impact,charcoal, sans-serif;
color:#1aff8c ;
}
h2{
font-family: sans-serif;
color:#ffffff;
}
p{
font-family: Impact, Charcoal, sans-serif;
}
body {
 background-image: url("https://i.ebayimg.com/images/g/q6AAAOSwzRlaSH0o/s-l300.jpg");
 background-color: #cccccc;
}
