h1{
font-family: Impact, Charcoal, sans-serif;
color:#1aff8c ;
}
h2{
font-family: Impact, Charcoal, sans-serif;
color:#1aff8c;
}
p{
font-family: Impact, Charcoal, sans-serif;
}
body {
   background-image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeHuB-Q0toWeqcf_j8k8eNc5zbE4zCq1KKkVnv7GMltPrS9QDyqA";
   background-color: #FFFFFF;
}
